# PHP & umumiy
vendor/
*.log
*.lock
*.cache
*.tmp
*.bak

# .env fayl
.env

# IDE / editor fayllari
.idea/
.vscode/
*.swp

# OS system files
.DS_Store
Thumbs.db

# Node yoki boshqa build artifacts (agar bo‘lsa)
node_modules/
dist/
build/
step/*
!step/.gitkeep
